<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Heyam.ttf</string>
		<string>Nauman-Regular.ttf</string>
		<string>LEMONMILK-Regular.otf</string>
		<string>CaviarDreams_Bold.ttf</string>
		<string>CaviarDreams_BoldItalic.ttf</string>
		<string>CaviarDreams_Italic.ttf</string>
		<string>CaviarDreams.tff</string>
	</array>
</dict>
</plist>
